.trainer-main {
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}
.selected_pokemon {
  width: 60vw;
}

.avatar_table {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemon_add {
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.pokemon_divider, .pokemon_list_item:hover {
  background-color: #E8EAF6 !important;
}

.has-danger {
  color: #d9534f !important;
  border-color: #d9534f !important;
}

.battleroom {
  background: url(http://orig04.deviantart.net/4a44/f/2016/020/d/0/d071d1e6a670d21d8b5b5c6289011c28-d9oqshe.png) no-repeat center;
  width: 30vw;
  height: 17vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.battleroom_wrap {
  height: 23vw;
}

.battle_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battlerooms {
  width: 100vw;
  height: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.seat {
  cursor: pointer;
  background: url(http://i43.tinypic.com/168tpps.png) no-repeat center;
  width: 10vw;
  height: 10vw;
  display: flex;
  align-self: center;
  align-items: flex-end;
}

.seat:hover {
  background-color: #fff;
}

.seat span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.on_seat {
  width: 10vw;
  height: 10vw;
  background: url(https://i.ytimg.com/i/hQluDm6-m4f-ypsmCpPTcg/mq1.jpg?v=50db4c24) no-repeat center center;
}

.trainer_info {
  text-align: center;
}

.trainer_poke_stats {
  margin: 0 auto;
}

.ava_stat_pokemon_trainer {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ava_name {
  text-align: center;
}

.move_discription {
  width: 60vw;
  margin: 0 auto;
}

.move_discription > h1 {
  text-align: center;
}

.move_discrip_detail {
  width: 40vw;
  margin: 0 auto;
}

.battle_page_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.opponent_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.trainer_self_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.opponent_ava_name {
  width: 17vw;
}

.opponent_hp {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trainer_self_ava_name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20vw;
}

.trainer_self_hp {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.move_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
